@charset "UTF-8";


/***********
* логотип  *
***********/
#header{
	 max-width: 100%;
	 width: 100%;
	 background-color: #336699;
}
	#header > header{
		background-color: inherit;
		padding-bottom: 1rem;
		padding-top: 1.5rem;
	}
		#head-title{
			margin: 0 auto;
			max-width: 1280px;
		}
				#logo > .logo-image{
					width: 70px;
					display: block;
					margin: 0 auto;
				}
			#brand{
				padding-left: 0;
				/*font-family: "Trebuchet MS", sans-serif;*/
				letter-spacing: -.005rem;
    			font-style: normal;
    			font-weight: normal;
			}
				#industry{
					font-size: 2.2rem;
					color: #fff;
				}
				#department{
					font-size: 1rem;
					color: #cccccc;
				}

/***************
* главное меню *
***************/
#main-menu{
	background-color: #003366;
	max-width: 100%;
	width: 100%;
}
  #main_menu {
    padding: .001rem;
    background-color: #003366;
  }
	#main-menu nav{
		margin: 0 auto;
		max-width: 1280px;
    	width: 100%;
		/*padding: .3rem 0;*/
    	background-color: transparent;
	}
    #main-menu ul {
      background-color: transparent;
    }
		#main-menu li{
			padding: .4rem .3rem .3rem;
		}
			#main-menu a{
				color: #fff;
				font-size: .95rem;
			}


/* версия планшетов */


/* версия телефонов */


/* поиск */
#main-menu nav{
	position: relative;
}
#main-menu nav .menu{
	z-index: 150;
}
.search-container{
	width: 10%;
	z-index: 200;
	position: absolute;
	top: 0;
	right: 0;
	padding: .4rem .5rem;
}
.prior-high{
	z-index: 350;
	width: 100%;
}
	.opn-btn_search{
		float: right;
		cursor: pointer;
	}
	.opn-btn_search:hover{
	}
	.search-line{
	/* 	position: absolute; */
		background-color: #fff;
		max-width: 1280px;
		width: 100%;
	}
		.search-box{
			position: relative;
		}
			#id_q{
				margin: 0 3rem;
				margin-bottom: 0;
				width: 100%;
				max-width: 90%;
				-webkit-transition: all .5s;
				-moz-transition: all .5s;
				transition: all .5s;
				border: none;
				box-shadow: none;
			}
			#btn-search{
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				margin: 0;
				min-width: 3rem;
				background-image: url('/static/img/icons/search.svg'); 
				background-repeat: no-repeat;
				background-size: 100px;
				background-position: -52px -5px;
				background-color: rgba(0, 0, 0, 0);
				border: none;
				cursor: pointer;
			}
		.cls-btn_search{
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			padding: .1rem 1rem;
			font-size: 1.2rem;
			font-weight: bold;
			color: #003366;
			cursor: pointer;
		}
.disabled-search{
	width: 0%;
	display: none;
}

/* эффекты */
#main-menu li:hover{
	padding: .4rem .3rem 0;
	border-bottom: .3rem solid #90caf9;
	-webkit-transition: border-bottom 0.25s ease-out, padding 0s;
    -moz-transition: border-bottom 0.25s ease-out, padding 0s;
    -o-transition: border-bottom 0.25s ease-out, padding 0s;
    transition: border-bottom 0.25s ease-out, padding 0s;
}
	#main-menu li:hover a{
		color: #90caf9;
		-webkit-transition: all 0.25s ease-out;
	    -moz-transition: all 0.25s ease-out;
	    -o-transition: all 0.25s ease-out;
	    transition: all 0.25s ease-out;
	}

/*
.search-box:hover #id_q{
	opacity: 1;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.search-box:hover #btn-search{
	box-shadow: 0 2px 1px 2px #012952;
	-webkit-transition: box-shadow .2s .1s;
	-moz-transition: box-shadow .2s .1s;
	transition: box-shadow .2s .1s;		
}
#btn-search:hover{
	cursor: pointer;
	background-color: #fff;
	background-image: url('/static/img/icons/search.svg');
	background-position: -52px -5px;
}
#id_q:focus{
	background-color: #fff;
	opacity: 1;
	box-shadow: none;
	width: 100%;
}*/