@charset "UTF-8";
  
  #main_informatization {
    max-width: 98%;
    padding: 0;
  }
  
    #main_informatization > h2 {
      padding: 0 .5rem;
      border-left: 3px solid #1D5399;
      line-height: .9;
      margin: 1.5rem 0 1rem 0;
    }
    
    #main_informatization h3.subheader {
      color: #757575;
    }
      
      #main_informatization h3.subheader small { color: inherit; }
    
    #main_informatization .main-stat-container {
      padding: 0;
      background-color: #fff;
      box-shadow: 0 2px 2px #717171;
    }
      
      #main_informatization .main-stat-container h3.subheader { margin-left: 1rem; }
      
      #main_informatization .main-stat {
        padding-left: 0;
        height: 400px;
      }
        
        #main_informatization #napriem {
          border: 2px solid #01579B;
        }
        
          #main_informatization #napriem > thead {
            background-color: #01579B;
            color: #fff;
            font-size: .9rem;
          }
          
          #main_informatization #napriem > tbody {
            font-size: .8rem;
            line-height: 2;
          }
      
            #main_informatization #napriem > tbody tr:last-child { border-top: 1px solid #01579B; }
      
        #main_informatization #lk {
          border: 2px solid #039BE5;
          margin-top: 2rem;
        }
        
          #main_informatization #lk > thead {
            background-color: #039BE5;
            color: #fff;
            font-size: .9rem;
          }
          
            #main_informatization #lk > tbody {
              font-size: .8rem;
              line-height: 2;
            }
      
              #main_informatization #lk > tbody tr:last-child { border-top: 1px solid #039BE5; }
      
      
          #main_informatization table:hover { cursor: pointer; }
        
            #main_informatization .selected { color: #ccc !important; }
          
          #main_informatization .go-to-napriem { margin-top: 1rem; }
          
      #main_informatization #chart-container {
        padding: 0 0 .925rem 0;
        background-color: #fff;
      }
      
        #main_informatization #overflow-chart {
          width: 810px;
          overflow-x: scroll;
        }
        
          #main_informatization #informatization-chart {
            width: 3400px;
            height: 400px;
            margin: 0 auto;
          }
          
            #main_informatization text {
              font-family: sans-serif;
              text-shadow: none;
              font-weight: bold;
            }
            
            #main_informatization .highcharts-plot-band-label { font-size: 1.3rem; } 
        
            #main_informatization  .highcharts-point.highcharts-color-1 { fill: #01579B; } 
            
            #main_informatization  .highcharts-point.highcharts-color-0 { fill: #039BE5; }
            
            #main_informatization .highcharts-axis.highcharts-xaxis path {
              stroke: #82B1FF;
              opacity: .25;
            }
        
            #main_informatization .highcharts-plot-bands-0 path.year:nth-child(3) {
              fill: #fff;
              fill-opacity: 0;
            }
            
            #main_informatization .highcharts-plot-bands-0 path.year:nth-child(2) {
              fill: #dadada;
              fill-opacity: .6;
            }
            
            #main_informatization .highcharts-plot-bands-0 path.year:nth-child(1) {
              fill: #dadada;
              fill-opacity: 1;
            }
        
            #main_informatization .highcharts-legend { display: none; }
          
            #main_informatization .highcharts-plot-band-label  {
              top: 13px !important;
              font-family: "Arial", sans-serif;
              border: 1px solid #000;
              padding: .3rem;
              border-radius: 3px;
              font-size: 1rem;
              font-weight: bold;
              background-color: #f7f7f7;
            }
            
    .informat_news-container {
      padding: 0 .925rem;
      background-color: #e4e4e4;
      box-shadow: 0 2px 2px #717171;
    }
    
      .informat_news-container + div {
        padding: 0;
        background-color: #fff;
        box-shadow: 0 2px 1px #717171;
      }
    
      #informatization_news .article {
        border-left: 3px solid #1D5399;
        box-shadow: 0 2px 2px #717171;
        background-color: #fff;
        padding: .5rem .925rem;
      }
      
        #informatization_news .article:not(:last-child) {
          margin-bottom: .925rem;
        }
        
        #informatization_news .article-header {
          font-size: 1rem;
          margin-bottom: 0;
        }
        
        #informatization_news time.created,
          #informatization_news time.changed {
            font-size: .8rem;
            color: #717171;
        }
  
  .go-to-informat { margin-bottom: 0; }
  
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #overflow-chart {
    width: auto !important;
  }
}
        
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  #overflow-chart {
    width: auto !important;
  }
}

/* Small only */
@media screen
and (max-width: 39.9375em) {
  
  .informat_news-container { padding-bottom: .925rem; }
  
  .main-stat { padding-right: 0; } 
    
  #main_informatization #overflow-chart { width: auto; }  
}