@charset "UTF-8";

body{
	font-family: "Verdana";
	background-color: #eeeeee;
	letter-spacing: -.005rem;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Verdana";
}
a{
	color: #1468a0;
}
#navigation-menu{
	padding: 0;
	background-color: #fff;
	box-shadow: 0 0px 2px #bfbfbf;
	/*border-bottom: 1px solid #003366;*/
	max-width:100%;
	z-index: 1000;
}
	#navi-center{
		width: 1280px;
		margin: 0 auto;
	}
	#navigation-menu .menu{
		background-color: #fff;
	}
	#navigation-menu a{
		font-size: .95rem;
	}
#content{
	background-color: inherit;
}
	#main-news{
		background-color: #fff;
		box-shadow: 0 0px 3px #afafaf;
	}
.row{
	max-width: 1280px;
	width: 100%;
}
  .row .row { margin: 0; }

#site{
	margin: 0 auto;
    min-height: 47.5vh;
}
#populations{
	margin: 0 auto;
}

.chapter{
	color: #272727;
	font-size: 2.5rem;
	padding: 0 .5rem;
	border-left: 3px solid #cccccc;
	line-height: 0.9;
	margin: 1.5rem 0 1rem;
}

a:hover{
	color: red;
}
#chart-container{
	overflow: hidden;
}

.pagination .current { text-align: center; }

.pagination .show-for-sr,
    .pagination .show-on-focus {
        position: relative !important;
        clip-path: none !important;
        -webkit-clip-path: none !important;
}