@charset "UTF-8";

/**************************************************************************
*
* global css
*
**************************************************************************/

body{
	font-family: "Verdana";
	background-color: #eeeeee;
	/* bbc background */
	background-color: #e7e8e1;
	letter-spacing: -.005rem;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Verdana";
}
a{
	color: #1468a0;
}
a:hover{
	color: red;
}

.row{
	max-width: 1280px;
	width: 100%;
}
  .row .row { margin: 0; }

#site{
	margin: 0 auto;
    min-height: 47.5vh;
}

/* большой блок в статьях для ориентации блока меню */
#big-block{
	position: relative;
	width: 100%;
	max-width: 100%;
}

/* effect for active toggle-button */

.active-toggle-btn{
	background-color: #fff;
}
	.active-toggle-svg{
		fill: #036;
	}


/************************************************************
*
* for homepage
*
************************************************************/

#content{
	background-color: inherit;
}

#populations{
	margin: 0 auto;
}
#populations,
#interview,
#docs{
	background-color: #fff;	
}

/* padding modules */
#content,
#populations,
#main_informatization,
#interview,
#video,
#docs{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* style for name of categories */
.chapter{
	color: #272727;
	font-size: 2.5rem;
	padding: 0 .5rem;
	border-left: 3px solid #cccccc;
	line-height: 0.9;
	margin-bottom: 1rem;
}

#chart-container{
	overflow: hidden;
}

.pagination .current { text-align: center; }

.pagination .show-for-sr,
    .pagination .show-on-focus {
        position: relative !important;
        clip-path: none !important;
        -webkit-clip-path: none !important;
}


/****************************************************************
*
* media query
*
****************************************************************/
/* for large */
@media (min-width: 1024px){

}

/* for tablet */
@media (max-width: 1023px) and (min-width: 640px){

}

/* for phone */
@media (max-width: 639px){

}

@media (max-width: 1024px){
	.posibility-mode-on_container{
		display: none;
	}
}