@charset "UTF-8";

/*****************
*      news      *
*****************/
#news{
	padding: 0;
}

.news-header{
	color: #272727;
	font-size: 2.5rem;
	margin: 1.5rem 1rem .5rem;
	padding: 0 .5rem;
/* 	text-shadow: 0 0 .001rem #333; */
	border-left: 3px solid #ffcc99;
	line-height: 0.9;
}
/*****************
*  main-content  *
*****************/
	#main-content{
		margin-top: 0;
		padding-top: 0; 
	}
		#main-content article{
			padding-top: .5rem;
			padding-bottom: .5rem;
		}
		#main-content figure{
			box-shadow: 0 0px 2px #bfbfbf;
		}

			.news-item{
					position: relative;
				}
				.news-item time{
					position: absolute;
					top: -1.378;
					margin-top: -1.65rem;
					left: 0;
					padding: .2rem;
					color: #ffffff;
					text-shadow: 0 0 5px #000;
					background-color: rgba(150, 150, 150, 0.45);
					font-size: .86rem;
					line-height: 1.3rem;
				}
				#main-content .article-header{
					position: relative;
					z-index: 300;
					padding: 1rem .5rem;
					background-color: #fff;
					border-left: 3px solid #FFCC99;
				}
			#main-content .article-header h3{
				margin-top: 0;
/* 				padding: .3rem 0; */
				font-size: .88rem;
/* 				padding-left: .25rem; */
				line-height: 1.3;
				margin-bottom: 0;
				font-weight: bold;
			}
			#main-content .smallnews .article-header h3{
				font-size: .8rem;
			}

/*****************
*    effects     *
*****************/
#main-content article a:hover figure{
	box-shadow: 0 2px 10px #bfbfbf;
}

	#main-content article a:hover .news-item time{
		opacity: 0;
	}


/* large-screen */
@media (min-width: 1024px) {
#main-content article:hover .news-item{
	background-color: #000;
}
	#main-content article:hover img{
		opacity: .65;
	}

	.read-listen-alerts{
		display: none;
	}
	#main-content article a:hover .read-listen-alerts{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
		.read, .listen{
			float: left;
			width: 50%;
			height: 100%;
			padding-top: 10%;
			z-index: 100;
			position: relative;
		}
		.read .news-logo, .listen .news-logo{
			height: 100px;
			width: 100px;
			background-image: url('/static/img/icons/news-logos.svg');
			background-repeat: no-repeat;
			background-size: 200px;
			margin: auto;
		}
		.smallnews .read .news-logo, .smallnews .listen .news-logo{
			height: 50px;
			width: 50px;
			background-size: 100px;
		}
		.read .news-logo{
			background-position: -1px -1px;
		}
		.read:hover .news-logo{
			background-position: -100px -1px;
		}
	
		.listen .news-logo{
			background-position: -1px -100px;
		}
		.listen:hover .news-logo{
			background-position: -100px -100px;
		}
	.smallnews .read, .smallnews .listen{
		padding-top: 13%;
	}
	.smallnews .read .news-logo{
		background-position: -1px -1px;
	}
	.smallnews .listen .news-logo{
		background-position: -1px -50px;
	}
	.smallnews .listen:hover .news-logo{
			background-position: -50px -50px;
		}
	.news-btn-label{
		text-align: center;
		font-size: 1.2rem;
		color: #fff;
	}
	.smallnews .news-btn-label{
		font-size: 1rem;
	}
	.read:hover .news-btn-label, .listen:hover .news-btn-label{
		color: red;
	}
	#main-content .article:hover .article-header{
		background-color: #fff;
	}

}

/* devices */
@media (max-width: 1023px) {
	.read-listen-alerts{
		display: none;
	}
	#main-content .article-header span{
		color: #027a9e;
	}
	#main-content .article:hover .article-header span{
		color: red;
	}
}


/* addClasses */
	.read-active{
		background-position: -100px -1px!important;
	}
	.smallnews .read-active{
		background-position: -50px -1px!important;
	}
	.text-color-red{
		color: red!important;
	}