@charset "UTF-8";

/*****************
* блок населению *
*****************/


    h2.populations-header {
       /* color: #272727;
        font-size: 2.5rem;*/
        margin-left: 0.5rem;
        padding: 0 .5rem;
        border-left: 3px solid #336666;
        line-height: 0.9;
    }
    #populations .population-block {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    #populations .callout {
        border-radius: 0;
        border: none;
        background-color: #f5f5f5;
    }

        #populations h3 {
            color: #336666;
            font-size: 1rem;
            font-weight: bold;
        }
        #populations ul {
            margin-left: 0;
        }
            #populations li {
                display: block;
                list-style-type: none;
                padding: 0.25rem 0;
                /*border-left: 3px solid #336666;*/
            }
            #populations li:before {
                content: "";
                display: block;
                float: left;
                margin-top: 8px;
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 4px solid #CC9933;
            }
                #populations li a {
                    font-size: .88rem;
                    display: block;
                    padding-left: 0.5rem;
                    text-decoration: underline;  
                }
                #populations li a:hover {
                    text-decoration: none;  
                }

@media print, screen and (min-width: 1024px) and (max-width: 1570px) {
    #populations .population-block.large-2 {
        width: 25%;
    }
}