@media screen and (min-width: 40em) {
    #main-news h3 {
        font-size: .8rem;
        line-height: 1.4;
    } 
}

#main-news{
	padding: 1.5rem 1rem;
	background-color: #fff;
}
	#main-news .general_poster, #main-news .poster{
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
	#main-news .general_poster{
		border-left: 6px solid #996633;
	}
	#main-news .poster{
		border-left: 4px solid #CC9933;
		margin-bottom: .4rem;
		margin-top: .4rem;
	}
		#main-news .general_poster .article-header {
		    font-size: 1rem;
		    font-weight: bold;
		    margin-bottom: .2rem;
		}
		#main-news .poster .article-header{
			font-size: .9rem;
			margin-bottom: 0;
		}
			#main-news .general_poster .article-header span, #main-news .poster .article-header span{
				border-bottom: 1px solid #aadbea;
			}
		#main-news .poster time, #main-news .general_poster time{
			font-size: .8rem;
		}
