@charset "UTF-8";

/**********
* sidebar *
**********/

#sidebar{
    /*box-shadow: 0 3px 10px 1px #d0d0d0;*/
    padding: 1.5rem .5rem 0;
/*     background-color: rgb(0, 51, 102); */
}


/* banners - top sidebar */
	#banner-menu li{
		min-height: 75px;
		position: relative;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: .5rem;
	}
		#banner-menu li a{
			position: absolute;
			height: 100%;
		}
			#banner-menu .menu-title{
				visibility: hidden;
			}
	.hotline{
		background-image: url('/static/img/sidebar/hotline.svg');
	}


/*****************
* secondary menu *
*****************/
#secondary-menu{
	background-color: #003366;
	margin-bottom: .5rem;
	box-shadow: 0 2px 2px #bbbbbb;
	padding: .001rem;
}
	#secondary-menu li{
/* 		margin-bottom: .5rem; */
/* 		box-shadow: 0px 2px 2px 1px #444444; */
		padding: .7rem .7rem;
		background-color: #003366;
	}
	#secondary-menu li:nth-child(even){
		background-color: #00386f;
	}
		#secondary-menu li a{
			padding: 0;
			position: relative;
			/*box-shadow: inset 0 0 35px #002040;*/
		}
			#secondary-menu .menu-title{
				color: #ffffff;
				padding-top: .5rem;
				font-size: .9rem;
				text-align: right;
				position: absolute;
				padding-right: .5rem;
				top: 10%;
				padding-bottom: .5rem;
			}
			#secondary-menu .menu-logo{
				min-height: 50px;
				width: 50px;
				border-radius: 50px;
				background-color: #353535;
				background-image: url('/static/img/menu/secondary-menu-icons-01.svg');
				background-size: 50px;
				background-repeat: no-repeat;
/* 				box-shadow: inset 0 0 35px #151515; */
			}
			#secondary-menu li:first-child .menu-logo{background-position: 0px 0;}
			#secondary-menu li:nth-child(2) .menu-logo{background-position: 0px -50px;}
			#secondary-menu li:nth-child(3) .menu-logo{background-position: 0px -100px;}
			#secondary-menu li:nth-child(4) .menu-logo{background-position: 0px -150px;}
			#secondary-menu li:nth-child(5) .menu-logo{background-position: 0px -200px;}
			#secondary-menu li:nth-child(6) .menu-logo{background-position: 0px -250px;}
			#secondary-menu li:nth-child(7) .menu-logo{background-position: 0px -300px;}
			#secondary-menu li:nth-child(8) .menu-logo{background-position: 0px -350px;}
			#secondary-menu li:nth-child(9) .menu-logo{background-position: 0px -400px;}
			#secondary-menu li:nth-child(10) .menu-logo{background-position: 0px -450px;}

.panel-links{
	box-shadow: 0 2px 2px #bbbbbb;
	padding: .001rem;
	margin-bottom: .5rem; 
}
	.panel-links li{
		position: relative;
		min-height: 4.5rem;
		background-color: rgba(230, 230, 230, 1);
	}
	.panel-links li:nth-child(even){
		background-color: rgba(240, 240, 240, 1);
	}
		.panel-links a{
			position: absolute;
			width: 100%;
			height: 100%;
			padding-top: 8%;
			color: #003366;
			font-size: .9rem;
			text-align: center;
		}

#sidebar .banner-nsok{
	background-image: url('/static/img/banner/nsok.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
	#sidebar .banner-nsok img{
		
	}


/********************
*       effects     *
********************/

#secondary-menu li:hover .menu-title{
	border-bottom: .3rem solid #90caf9;
	-webkit-transition: border-bottom 0.25s ease-out, padding 0s;
    -moz-transition: border-bottom 0.25s ease-out, padding 0s;
    -o-transition: border-bottom 0.25s ease-out, padding 0s;
    transition: border-bottom 0.25s ease-out, padding 0s;
    color: #90caf9;
}