@charset "UTF-8";


/*******************
* Полезные ресурсы *
*******************/


#docs{
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}
#docs a{
	font-size: .85rem;
}
	#docs .docs-header{
		border-left: 3px solid #330066;
	}

/*.third-line, .first-line,
.second-line{
	padding: .5rem 0;
}*/
.third-line {
	padding: 1rem 0;
}
/*.first-line{
	padding-top: 0;
}*/
#docs .card {
	margin-bottom: 0;
	padding-bottom: 0.9375rem;
	padding-top: 0.9375rem;
	border: none;
	border-radius: 0;
	/*box-shadow: inset 0 0 60px rgba(235, 235, 235, 1);
	border-right: 1px solid rgba(235, 235, 235, 1);*/
}
#docs .first-line .card:nth-child(2n) {
	background-color: rgba(0,0,0, 0.03);
}
#docs .second-line .card:nth-child(2n+1) {
	background-color: rgba(0,0,0, 0.03);
}

	#docs .card-section{
		padding: .5rem 0;
	}

	.useres-logo{
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 60px; 
		border-radius: 50px;
/* 		border: 1px solid; */
		box-shadow: inset 0 0 35px #fff;
	}
	.useres-logo.pr-razv{
		background-image: url('/static/img/useres/pr-razvitiya.svg');
	}
	.useres-logo.npr{
		background-image: url('/static/img/useres/npr.png');
	}
	.useres-logo.edin-ross{
		background-image: url('/static/img/useres/edin-ros.svg');
	}
	.ukazi .useres-logo{
		background-image: url('/static/img/useres/logo-president.svg');
	}
	.klinic-rek .useres-logo{
		background-image: url('/static/img/useres/gr-minzd.svg');
		background-size: 115px;
		background-position: -22px -28px;
		box-shadow: inset 0 0 55px #fff;
/* 		opacity: .9; */
	}
	.metod-rek .useres-logo{
		background-image: url('/static/img/useres/method-rekomend.svg');
		background-size: 100px;
		box-shadow: inset 0 0 50px #fff;
	}

.most-important-1 .card-section:nth-child(3) .useres-name,
.most-important-1 .card-section:nth-child(1) .useres-name{
	padding-top: 3%;
}
.most-important-2 .card-section:nth-child(1) .useres-name,
.most-important-2 .card-section:nth-child(2) .useres-name{
	padding-top: 5%;
}


/* ссылки на сторонние ресурсы */

.out-link-first-line,
.out-link-second-line{
	padding: 0;
}

.out-link{
	float: left;
	padding: .5rem;
}
	.out-link img{
		width: 100%;
		box-shadow: 0 .15rem .3rem .035rem rgba(210, 210, 210, 1);
	}

@media (min-width: 1360px){
	.out-link{
		width: 33.3%;
	}
}
@media (min-width: 639px) and (max-width: 1360px){
	.out-link{
		width: 50%;
	}
}
@media (max-width: 638px){
	.out-link{
		width: 100%;
	}
}
