{% load thumbnail %}

{% load el_pagination_tags %}
{% paginate 8 news %}

<div class="row" id="main-content" data-magellan-target="main-content" data-equalizer>
	{% for article in news %}
	<article class="large-6 medium-6 small-12 columns article" data-equalizer-watch>    
		<a href="{{ article.get_absolute_url }}">
		<div class="article-body">
			<figure class="news-item">
				{% if article.get_main_image %}
				{% thumbnail article.get_main_image.img 450x230 box=article.get_main_image.cropping crop upscale detail as im %} 
					<img src="{{ im.url }}" alt="{{ article.get_main_image.alt }}" title="{{ article.get_main_image.title }}" width="{{ im.width }}" height="{{ im.height }}"/>
				{% else %}
					<img src="/media/uploads/pictures/default-news.jpg" alt="{{ article.title }}" title="{{ article.title }}" width="450" height="230"/>
				{% endif %}
				{% include 'app/content/date.html' %}
				<div class="read-listen-alerts">
					<div class="read">
						<div class="news-logo read-active"></div>
						<div class="news-btn-label text-color-red">
							Читать
						</div>
					</div>
					<div class="listen" onclick="">
						<div class="news-logo"></div>
						<div class="news-btn-label">
							Слушать
						</div>
					</div>
				</div>
				<figcaption class="article-header"><h3>{{ article.title }}</h3></figcaption>
			</figure>

			{% autoescape off %}
				<!--{% if article.cut_text %}
					{{ article.short_text }}
						{% else %}
					{{ article.text }}
				{% endif %}-->
		</div>
			{% endautoescape %}
		</a>
		<div class="audio-container">
			<div class="loader" style="display:none;">
				<div class="fountainG">
				</div>
			</div>
		</div>
	</article>
	{% endfor %}

	<div class="large-12 medium-12 small-12 columns">
		<ul class="pagination" role="navigation" aria-label="Pagination">
			<li>{% show_pages %}</li>
		</ul>
	</div>

</div>		