<ul class="vertical menu">
    <li><a href="http://survey.brkmed.ru/" target="_blank">Поликлиника начинается с&nbsp;регистратуры</a></li>
    <li><a href="http://www.bryanskobl.ru/opendata/" target="_blank">Открытые данные</a></li>
    <li><a href="http://www.brkmed.ru/article/protivodejstvie-korrupcii/">Противодействие коррупции</a></li>
    <li><a href="http://pb.brkmed.ru/map/">Карта медицинских организаций</a></li>
    <li><a href="http://www.brkmed.ru/article/antidopingovoe-obespechenie/">Антидопинговое обеспечение</a></li>
</ul>