<section class="row" id="populations" style="max-width: 100%;" data-equalizer data-equalize-on="medium">
			<h2 class="thick-header">Населению</h2>
				<div class="large-3 medium-4 small-12 columns" id="dispanserizaciya">
					<div class="callout" data-equalizer-watch>
						<h3>Диспансеризация</h3>
						<ul>
							<li><a href="http://www.brkmed.ru/article/poryadok-provedeniya-dispanserizacii/">Порядок проведения диспансеризации</a></li>
							<li><a href="http://www.brkmed.ru/category/vzroslye/">Диспансеризация взрослого населения</a></li>
							<li><a href="http://www.brkmed.ru/category/deti/">Профилактические осмотры детей</a></li>
						</ul>
					</div>
				</div>
				<div class="large-3 medium-4 small-12 columns">
					<div class="callout" data-equalizer-watch>
					<h3>Лекарственное обеспечение</h3>
					<ul>
						<li><a href="http://www.brkmed.ru/jnvls/">Предельные отпускные цены, зарегистрированные и внесенные в Государственный Реестр цен на ЖНВЛС</a></li> <!--потом поместить его вниз списка-->
						<!--li style="visibility: hidden"><a href="#">Перечень групп населения и категорий заболевания, которые относятся к категории льготников</a></li>
						<li style="visibility: hidden"><a href="#">Порядок предоставления льготных лекарств льготным категориям граждан</a></li-->
						
					</ul>
					</div>
				</div>
				<div class="large-3 medium-4 small-12 columns grippe">
					<div class="callout" data-equalizer-watch>
					<h3>Сведения об острых респираторных вирусных инфекциях</h3>
					<ul>
						<li><a href="http://www.brkmed.ru/article/svedeniya-o-vakcinacii-grazhdan-ot-grippa/">Сведения о вакцинации граждан от гриппа</a></li>
						<li><a href="http://www.brkmed.ru/article/svedeniya-o-zabolevaemosti-grazhdan-ostrymi-respiratornymi-virusnymi-infekciyami-i-o-sluchayah-smert/">Сведения о заболеваемости граждан и о случаях смерти</a></li>
						<!-- <li><a href="/article/immunizaciya-protiv-grippa-v-ramkah-nacionalnogo-kalendarya-profilakticheskih-privivok/">Иммунизация против гриппа</a></li> -->
					</ul>
				</div>
				</div>
				<div class="large-3 medium-4 small-12 columns">
					<div class="callout" data-equalizer-watch>
					<h3>Антинаркотическая политика</h3>
					<ul>
						<li>	
							<a href="http://www.brkmed.ru/article/kompleksnaya-reabilitaciya-i-resocializaciya-lic-potreblyayuchih-narkoticheskie-sredstva/">Комплексная реабилитация и ресоциализация лиц, потребляющих наркотические средства и психотропные вещества без назначения врача</a>
						</li>
					</ul>
				</div>
				</div>
				<div class="large-3 medium-4 small-12 columns">
					<div class="callout" data-equalizer-watch>
					<h3>Взаимодействие</h3>
					<ul>
						<li><a href="http://www.brkmed.ru/article/grafik-priema/">График приема граждан</a></li>
						<li><a href="http://www.brkmed.ru/article/reglament-rassmotreniya-obrashenij-grazhdan-v-departamente-zdravoohraneniya-bryanskoj-oblasti/">Порядок приема граждан</a></li>
						<li><a href="http://www.brkmed.ru/public-reception/">Электронное обращение граждан</a></li>
						<li><a href="http://forum.brkmed.ru/c/zdravoohranenie-bryanskoj-oblasti/appeal/">Рубрика «Вопрос-ответ»</a></li>
					</ul>
				</div>
				</div>
				<div class="large-3 medium-4 small-12 columns pravo-help">
					<div class="callout" data-equalizer-watch>
					<h3>Правовая помощь</h3>
					<ul>
						<li><a href="http://www.brkmed.ru/article/prava-i-obyazannosti-pacienta/">Права и обязанности населения в сфере здравоохранения</a></li>
						<li><a href="http://www.brkmed.ru/article/poryadok-vybora-grazhdaninom-medicinskoj-organizacii-pri-okazanii-emu-medicinskoj-pomoshi-v-ramkah-p/">Порядок выбора гражданином  медицинской организации</a></li>
					</ul>
				</div>
				</div>
			    <div class="large-3 medium-4 small-12 columns infographic">
			    	<div class="callout" data-equalizer-watch>
			        <h3>Инфографические материалы</h3>
			        <ul>
			          <li>
			            <a href="http://www.brkmed.ru/#vaccination" class="fancybox" title="Вакцинация в рамках национального календаря профилактических прививок РФ">Вакцинация в рамках национального календаря профилактических прививок РФ</a>
			            <div class="infographic-item" id="vaccination" style="display:none;">
			              <div style="margin-bottom:15px;">
			                <a href="./Департамент здравоохранения Брянской области. Официальный сайт_files/1.jpg">Загрузить оригинал (*.jpg)</a>
			              </div>
			              <img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/1.jpg" width="800" alt="Вакцинация в рамках национального календаря профилактических прививок РФ">
			            </div>
			          </li>
			          <li>
			            <a href="http://www.brkmed.ru/#times-medical-care" class="fancybox" title="Предельные сроки ожидания медицинской помощи">Предельные сроки ожидания медицинской помощи</a>
			            <div class="infographic-item" id="times-medical-care" style="display:none;">
			              <div style="margin-bottom:15px;">
			                <a href="./Департамент здравоохранения Брянской области. Официальный сайт_files/2.jpg">Загрузить оригинал (*.jpg)</a>
			              </div>
			              <img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/2.jpg" width="1000" alt="Предельные сроки ожидания медицинской помощи">
			            </div>
			          </li>
			          <li>
			            <a href="http://www.brkmed.ru/#prevention-grippe" class="fancybox" title="Профилактика ГРИППа">Профилактика ГРИППа</a>
			            <div class="infographic-item" id="prevention-grippe" style="display:none;">
			              <div style="margin-bottom:15px;">
			                <a href="./Департамент здравоохранения Брянской области. Официальный сайт_files/3.jpg">Загрузить оригинал (*.jpg)</a>
			              </div>
			              <img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/3.jpg" width="800" alt="Профилактика ГРИППа">
			            </div>
			          </li>
			          <li>
			            <a href="http://www.brkmed.ru/#violation-right-free-medical-care" class="fancybox" title="Нарушение права на бесплатную медицинскую помощь">Нарушение права на бесплатную медицинскую помощь</a>
			            <div class="infographic-item" id="violation-right-free-medical-care" style="display:none;">
			              <div style="margin-bottom:15px;">
			                <a href="./Департамент здравоохранения Брянской области. Официальный сайт_files/5.jpg">Загрузить оригинал (*.jpg)</a>
			              </div>
			              <img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/5.jpg" width="800" alt="Нарушение права на бесплатную медицинскую помощь">
			            </div>
			          </li>
			          <li>
			            <a href="http://www.brkmed.ru/#getting-free-medical-care" class="fancybox" title="Получение бесплатной медицинской помощи">Получение бесплатной медицинской помощи</a>
			            <div class="infographic-item" id="getting-free-medical-care" style="display:none;">
			              <div style="margin-bottom:15px;">
			                <a href="./Департамент здравоохранения Брянской области. Официальный сайт_files/4.jpg">Загрузить оригинал (*.jpg)</a>
			              </div>
			              <img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/4.jpg" width="1000" alt="Получение бесплатной медицинской помощи">
			            </div>
			          </li>
			        </ul>
			      	</div>
			      </div>
				<!--div class="large-3 medium-4 small-6 columns spasibo-doc">
					<a href="#"><span class="thanks">СПАСИБО, ДОКТОР!</span><span>возможность вырасить свою признательность и благодарность доктору</span></a>
				</div-->
				<div class="large-3 medium-4 small-12 columns">
					<div class="callout" data-equalizer-watch>
					<h3>Оказание помощи пациентам с нарушением слуха </h3>
					<ul>
						<li>	
							<a href="http://www.brkmed.ru/article/pamyatka-po-voprosam-organizacii-na-territorii-bryanskoj-oblasti-okazaniya-medicinskoj-i-reabilitaci/">Памятка по вопросам организации оказания медицинской и реабилитационной помощи пациентам с нарушением слуха и&nbsp;тугоухостью</a>
						</li>
					</ul>
					</div>
				</div>
				<div class="large-3 medium-4 small-12 columns">
					<div class="callout" data-equalizer-watch>
					<h3>Хронический болевой синдром</h3>
					<ul>
						<li>	
							<a href="http://www.brkmed.ru/article/chto-nuzhno-znat-o-hronicheskom-bolevom-sindrome/">Что нужно знать о хроническом болевом синдроме</a>
						</li>
					</ul>
				</div>
				</div>
				<div class="large-3 medium-4 small-12 columns">
					<div class="callout" data-equalizer-watch>
					<h3>Родителям</h3>
					<ul>
						<li>	
							<a href="http://www.brkmed.ru/article/pamyatka-dlya-roditelej-detskij-travmatizm-v-letnij-period/">Памятка «Детский травматизм в летний период»</a>
						</li>
						<li>	
							<a href="http://www.brkmed.ru/article/pamyatka-po-profilaktike-vypadeniya-detej-iz-okna/">Памятка по профилактике выпадения детей из окна</a>
						</li>
						<li>	
							<a href="http://www.brkmed.ru/article/profilaktika-ozhogov-u-detej/">Профилактика ожогов у детей</a>
						</li>
		          <li>
		            <a href="http://www.brkmed.ru/article/enterovirusnye-infekcii/" title="Энтеровирусные инфекции">Энтеровирусные инфекции</a>
		          </li>
					</ul>
				</div>
				</div>
				<div class="large-3 medium-4 small-12 columns end">
					<div class="callout" data-equalizer-watch>
					<h3>Иностранным гражданам</h3>
					<ul>
						<li><a href="http://www.brkmed.ru/article/informaciya-dlya-lic-vynuzhdenno-pokinuvshih-territoriyu-ukrainy-o-perechne-dokumentov-dayushih-prav/">Получение медицинского полиса</a></li>
						<!--li style="visibility: hidden"><a href="#">Информация об оказании медицинской помощи</a></li-->
					</ul>
				</div>
				</div>
		</section>