<section class="row" id="docs" data-magellan-target="docs">
			<h2 class="thick-header">Полезные ресурсы</h2>
			<section class="large-12 columns">
				<div class="large-3 columns docs-container">
					<div class="large-12 columns panel programm">
						<ul>
							<li><a href="http://www.brkmed.ru/article/programma-razvitie-zdravoohraneniya-bryanskoj-oblasti-2013-2020-gody/"><span class="programm-razvitie"></span>Программа "Развитие здравоохранения Брянской области"</a></li>
							<li><a href="http://www.brkmed.ru/article/o-hode-realizacii-prioritetnogo-nacionalnogo-proekta-zdorove-na-territorii-bryanskoj-oblasti/"><span class="programm-pnp"></span>Приоритетный национальный проект «Здоровье» на территории Брянской области</a></li>
							<li><a href="http://www.brkmed.ru/article/29_proekt-partii-edinaya-rossiya-kachestvo-zhizni-zdorove/"><span class="programm-modernizaciya"></span>Проект Партии «Единая Россия» — «Качество Жизни (Здоровье)»</a></li>
						</ul>
					</div>
				</div>
				<div class="large-3 columns docs-container">
					<div class="large-12 columns ukazi">
						<a href="http://www.brkmed.ru/article/ukazy-prezidenta-rossijskoj-federacii/"><span></span>Указы Президента Российской Федерации</a>
					</div>
					<div class="large-12 columns rekomendation panel">
						<div class="large-12 columns klinic-rek">
							<a href="http://cr.rosminzdrav.ru/" target="_blank">Клинические<br>рекомендации</a>
						</div>
						<div class="large-12 columns metod-rek">
							<a href="http://www.brkmed.ru/edocs/folders/304/">Методические<br>рекомендации<br><span>для врачей-клиницистов</span></a>
						</div>
					</div>
				</div>
				<div class="large-3 columns docs-container">
					<div class="large-12 columns panel disp">
						<ul>
							<li><a href="http://www.brkmed.ru/media/uploads/documents/others/plan-deyatelnosti-dz-na-2014-2018-godyi.doc">План деятельности департамента здравоохранения Брянской области на 2013-2018 годы</a></li>					
						</ul>
					</div>
					<div class="large-12 columns panel disp">
						<ul>
							<li><a href="http://www.brkmed.ru/article/territorialnaya-programma-gosudarstvennyh-garantij-na-2016-god/">Территориальная программа обязательного медицинского страхования</a></li>
							<!--li><a href="//www.brkmed.ru/article/territorialnaya-programma-gosudarstvennyh-garantij-na-2016-god/">Территориальная программа государственных гарантий на 2016 год</a></li-->
						</ul>
					</div>
					<div class="large-12 columns panel disp" style="margin-top:15px;">
						<ul class="no-bullet large-12 columns pmsp" style="padding:0;">
							<li>
								<a href="http://www.brkmed.ru/article/pervichnaya-mediko-sanitarnaya-pomosh/">Первичная медико-санитарная помощь</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="large-3 columns docs-container">
					<div class="large-12 columns panel ocenka">
						<ul>
							<li><a href="http://www.brkmed.ru:8081/media/uploads/documents/others/prikaz-minzdrava-rossii-ot-07072015-n-422an-ob-utverzhdeni.doc">Приказ Министерства здравоохранения Российской Федерации от 7 июля 2015 г. № 422ан "Об утверждении критериев оценки качества медицинской помощи"</a></li>
							<li><a href="http://www.brkmed.ru:8081/media/uploads/documents/others/prikaz290not2iyunya2015g.pdf">Приказ Министерства здравоохранения РФ от 2 июня 2015 г. №290н "Об утверждении типовых отраслевых норм времени на выполнение работ, связанных с посещением одним пациентом врачей"</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section class="large-12 columns">
				<div class="large-12 columns panel other-links">
					<div class="large-3 columns other-depatments">
						<ul class="links">
							<li>
								<a href="http://rosminzdrav.ru/" target="_blank">Министерство здравоохранения РФ</a>
							</li>
							<li>
								<a href="http://www.bryanskobl.ru/" target="_blank">Правительство Брянской области</a>
							</li>
							<li>
								<a href="http://xn--90asehmeeq.xn--p1ai/" target="_blank">ТФОМС Брянской области</a>
							</li>
						</ul>
					</div>
					<div class="large-3 columns nadzor">
						<ul class="links">
							<li>
								<a href="http://www.32.rospotrebnadzor.ru/" target="_blank">Управление Роспотребнадзора по Брянской области</a>
							</li>
							<li>
								<a href="http://32reg.roszdravnadzor.ru/" target="_blank">Территориальный орган Росздравнадзора по Брянской области</a>
							</li>
						</ul>
					</div>
					<div class="large-3 columns e-services">
						<ul class="links">
							<li>
								<a href="http://pgu.bryanskobl.ru/" target="_blank">Портал государственных услуг Брянской области</a>
							</li>
							<li>
								<a href="http://www.gosuslugi.ru/" target="_blank">Электронное правительство. Госуслуги</a>
							</li>
						</ul>
					</div>
					<div class="large-3 columns other-org">
						<ul class="links">
							<li>
								<a href="http://bryanskmedgazeta.ru/" target="_blank">Брянская медицинская газета</a>
							</li>
							<li>
								<a href="http://uszn032.ru/index.php?option=com_content&amp;view=section&amp;layout=blog&amp;id=22&amp;Itemid=163" target="_blank">Бесплатная юридическая помощь</a>
							</li>
							<li>
								<a href="http://bfarm.ru/" target="_blank">ГУП "Брянскфармация"</a>
							</li>
							<li>
								<a href="http://medical-science.ru/" target="_blank">Портал "Медицинская наука"</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="large-12 columns dop-resourses">
				<!--1я колонка-->
				<div class="large-3 columns">
					<div class="large-12 columns banner">
						<a href="http://www.takzdorovo.ru/" target="_blank"><img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/zdorovaya-rossiya.jpg" alt="Здоровая Россия"></a>
					</div>
					<div class="large-12 columns gosuslugi b-page banner">
						<a href="https://www.gosuslugi.ru/" class="b-bnr banner15 b-bnr_n250x250 animated">
							<div class="b-bnr__after"></div>
							<div class="b-bnr__item b-bnr__item_n250x250"></div>
							<div class="b-bnr__text b-bnr__text_n250x250">
								<div class="b-bnr__logo b-bnr__logo_n250x250 left"><span style="margin-left: 0;">
									<img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/lg.png" alt="Проще чем кажется" style="width: 183px;height: 20px;display: block;margin-left: 0;">
								</span>
								</div>
								<div class="b-bnr__text b-bnr__text_n250x250_1 strong"><img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/txt1.png" alt="К врачу без очереди"></div>
								<div class="b-bnr__text b-bnr__text_n250x250_2"><img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/txt2.png" alt="Запишитесь к врачу на gosuslugi.ru и приходите без очереди">
								</div>
							</div>
						</a>
					</div>
			    <div class="large-12 columns banner megafon banner" style="margin-top:15px!important;">
			      <a href="http://www.brkmed.ru/article/korporativnyj-tarifnyj-plan-zdravoohranenie/"><img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/megafon.jpg" alt="Корпоративный тарифный план для сотрудников здравоохранения"></a>
			    </div>
				</div>
				<!--2я колонка-->
				<div class="large-3 columns">
					<div class="large-12 columns banner">
						<a href="http://o-spide.ru/" target="_blank"><img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/spid.jpg" alt="Против СПИДа"></a>
					</div>
					<div class="large-12 columns banner">
						<a href="http://medcollege.brkmed.ru/" target="_blank"><img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/banner-bazovyij-kolledzh.jpg" alt="Базовый мед. колледж"></a>
					</div>
					<div class="large-12 columns banner">
						<a href="http://xn--80aalcbc2bocdadlpp9nfk.xn--d1acj3b/multimedia/videorolik_o_zawite_detskih_personalnyh_dannyh1/" target="_blank"><img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/ppd.jpg" alt="Персональные данные.дети"></a>
					</div>
				</div>
				<!--3я колонка-->
				<div class="large-3 columns">
					<div class="large-12 columns banner">
						<a href="http://www.bars-open.ru/" target="_blank"><img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/bars-group.jpg" alt="Барс-групп"></a>
					</div>
					<div class="large-12 columns" style="margin-top:15px!important;">
			      <a href="http://www.brkmed.ru/#" target="_blank" title="«Свенская ярмарка-2017»">
			        <img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/sven-fair.jpg" alt="«Свенская ярмарка-2017»">
			      </a>
			    </div>
			    <div class="large-12 columns banner sku" style="margin-top:15px!important;">
			      <a href="http://www.brkmed.ru/category/sanatorno-kurortnoe-lechenie/"><img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/sku.png" alt="Санаторно-курортное лечение"></a>
			    </div>
				</div>
				<!--4я колонка-->
				<div class="large-3 columns">
					<div class="large-12 columns banner">
						<a href="http://www.gosuslugi.ru/" target="_blank"><img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/gosuslugi.png" alt="Гос услуги"></a>
					</div>
					<div class="large-12 columns slepogluhie">
						<a href="http://www.brkmed.ru/article/vserossijskaya-perepis-slepogluhih-lyudej/">Оказать содействие <br>в регистрации слепоглухим людям</a>
					</div>
					<div class="large-12 columns banner pravo banner">
						<a href="http://pravo.gov.ru/">
							<img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/pravo.png" alt="Официальный интернет-портал правовой информации">
						</a>
					</div>
			    <div class="large-12 columns banner" style="margin-top:15px!important;">
			      <a href="http://bryanskobl.ru/news/by-tag/83" title="200-летие со дня рождения А.К. Толстого" target="_blank">
			        <img src="./Департамент здравоохранения Брянской области. Официальный сайт_files/banner_tolstoy.png" alt="200-летие со дня рождения А.К. Толстого">
			      </a>
			    </div>
				</div>
			</section>		
		</section>