<section class="row" id="video" data-magellan-target="video">
  
  <div class="youtube-logo"></div>
  
  <div class="large-9 medium-9 small-12 columns player-container">
    
    <div class="large-12 medium-12 small-12 columns" id="start_preview">
      <p class="text-center">Youtube канал <br>&laquo;Здравоохранение Брянской области&raquo;</p>
    </div>
  
    <div class="large-12 columns" id="player"></div>
    <!-- <div class="large-12 columns" id="video-info">
      <div class="large-12 columns" id="video-statistics"></div>
      <div class="large-12 columns" id="video-description"></div>
    </div> -->
  
  </div>
  
  <div class="large-3 medium-3 small-12 columns" id="playlists-container">

  </div>
  
  <div class="large-12 medium-12 small-12 columns" id="video-info">
    
  </div>
    
</section>