{% load edocs_tags %} 
<section class="row" id="main_informatization" data-magellan-target="main_informatization"> 
    <h2 class="informatization-header chapter">Информатизация</h2> 
    <div class="row" data-equalizer data-equalize-by-row="true">
        
        <div class="large-8 medium-12 small-12 columns">
            <h3 class="subheader"><small>Портал государственных медицинских услуг Брянской области</small></h3>
            <div class="large-12 columns callout" data-equalizer-watch>
                <div class="large-6 medium-6 small-12 columns" id="informatization-main-indicators">
                    <table>
                        <thead>
                            <tr>
                                <td colspan="2"><b>Записалось на приём к врачу</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>За сентябрь 2017 г.</td>
                                <td><span id="napriem-month"></span> чел.</td>
                            </tr>
                            <tr>
                                <td>Всего</td>
                                <td><span id="napriem-all"></span> чел.</td>		
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <td colspan="2"><b>Зарегистрировалось в личном кабинете</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>За сентябрь 2017 г.</td>
                                <td><span id="lk-month"></span> чел.</td>
                            </tr>
                            <tr>
                                <td>Всего</td>
                                <td><span id="lk-all"></span> чел.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="large-6 medium-6 small-12 columns" id="implementation-indicators-informatization">
                    <ul>
                        <li>
                            <a href="//www.brkmed.ru/rest_dt/ipra_table/" title="Перейти в раздел"><span>Оперативная информация по исполнению ИПРА</span></a>
                        </li>
                        <li>
                            <a href="/article/ispolzovanie-elektronnyh-napravlenij-na-konsultativnyj-priem-v-oblastnye-uchrezhdeniya-all/" title="Перейти в раздел"><span>Использование электронных направлений на консультативный прием в областные учреждения</span></a>
                        </li>
                        <li>
                            <a href="/article/ispolzovanie-elektronnyh-napravlenij-na-gospitalizaciyu-v-oblastnye-uchrezhdeniya-all/" title="Перейти в раздел"><span>Использование электронных направлений на госпитализацию в стационарные учреждения/отделения</span></a>
                        </li>
                        <li>
                            <a href="/article/ispolzovanie-informacionnogo-resursa-zapis-na-priem-k-vrachu-all/" title="Перейти в раздел"><span>Использование информационного ресурса &laquo;Запись на прием к врачу&raquo;</span></a>
                        </li>
                        <li>
                            <a href="/article/ispolzovanie-servisa-lichnyj-kabinet-all/" title="Перейти в раздел"><span>Использование сервиса &laquo;Личный кабинет&raquo;</span></a>
                        </li>
                        <li>
                            <a href="/category/osnashennost-medicinskih-organizacij-kompyuternoj-tehnikoj/" title="Перейти в раздел"><span>Оснащенность медицинских организаций компьютерной техникой</span></a>
                        </li>
                        <li>
                            <a href="/category/ispolzovanie-elektronnyh-kart-v-uchete-beremennyh/" title="Перейти в раздел"><span>Использование электронных карт в учете беременных</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="large-4 medium-12 small-12 columns informatization-news-container">
            <h3 class="subheader"><small>Новости</small></h3>
            <div class="row" id="informatization_news" data-equalizer-watch>
                {% for article in informatization %}
                    <article class="large-12 medium-12 small-12 columns article">    
                        <header>
                            <h3 class="article-header text-left">
                                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                            </h3>
                        </header>
                        <footer class="text-left">
                            <time datetime="">{% include 'app/content/date.html' with article=article %}</time>
                        </footer>
                    </article>
                {% endfor %}
                <a href="/informatizacija-zdravoohranenija/" title="Раздел &laquo;Информатизация&raquo;" class="go-to-informatization float-right">
                    <span>Перейти в раздел &rarr;</span>
                </a>
            </div>
        </div>
        
    </div>
    
    <div class="row informatization-part" id="informatization-documents">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" id="informatization-project" data-accordion-item>
                <a href="#" class="accordion-title">Проекты</a>
                <div class="accordion-content" data-tab-content>
                    <ul id="informatization-project">
                        <li>
                            Рекомендуемые части контракта на оказание услуг по защищенной передаче данных с актуализацией криптографического оборудования Заказчика с целью бесперебойного функционирования регионального сегмента ЕГИСЗ Брянской области. (<a href="/media/uploads/documents/informatization/project/recomend_part-2.pdf" title="Загрузить документ в формате *.pdf" download><span>*.pdf&nbsp;<i class="fi-download"></i></span></a>,&nbsp;<a href="/media/uploads/documents/informatization/project/recomend_part-2.doc" title="Загрузить документ в формате *.doc"><span>*.doc&nbsp;<i class="fi-download"></i></span></a>)
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/project/el-medicin.pdf" title="Загрузить документ" download><span>Перечень проектов по развитию РИС «Электронная медицина» на 2 квартал 2017 года&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/project/TZ_miac.pdf" title="Загрузить документ" download><span>Техническое задание на оказание услуги по защищенной передаче данных с актуализацией криптографического оборудования ГАУЗ «Медицинский информационно-аналитический центр» Брянской области с целью бесперебойного функционирования регионального сегмента ЕГИСЗ Брянской области.&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>Техническое задание на оказание услуг по защищенной передаче данных с актуализацией криптографического оборудования Заказчика с целью бесперебойного функционирования регионального сегмента ЕГИСЗ Брянской области (<a href="/media/uploads/documents/informatization/project/TZ.pdf" title="Загрузить документ в формате *.pdf" download><span>*.pdf&nbsp;<i class="fi-download"></i></span></a>,&nbsp;<a href="/media/uploads/documents/informatization/project/TZ-2.doc" title="Загрузить документ в формате *.doc"><span>*.doc&nbsp;<i class="fi-download"></i></span></a>)
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/project/TZ_internet.pdf" title="Загрузить документ" download><span>Техническое задание на оказание услуг по предоставлению высокоскоростного доступа к сети Интернетx&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/project/soglashenie.pdf" title="Загрузить документ" download><span>Соглашение об информационном взаимодействии в рамках обеспечения функционирования регионального сегмента единой государственной информационной системы в сфере здравоохранения Брянской области&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/project/TTISSMP.pdf" title="Загрузить документ" download><span>Технические требования на региональное программное решение для обеспечения функции диспетчеризации санитарного автотранспорта&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="accordion-item" id="normative-informatization-documents" data-accordion-item>
                <a href="#" class="accordion-title">Нормативные и методические материалы</a>
                <div class="accordion-content" data-tab-content>
                    <ul>
                        <li>
                            <a href="/media/uploads/documents/informatization/oprosniy-list-lpu.XLS" title="Загрузить документ"><span>Опросный лист для ЛПУ&nbsp;<i class="fi-download"></i>v</a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/MR-grafik-proverok.zip" title="Загрузить документ"><span>Методические рекомендации и график проверок по планированию и проведению проверок ИБ в ИСПДн медицинской организации&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/metodicheskie-rekomendacii-MO-organizacii-kriptograficheskoj-zashchity-kanalov-pri-vzaimodejstvii.pdf" title="Загрузить документ" download><span>Методические рекомендации медицинским организациям по организации криптографической защиты каналов при взаимодействии в рамках единой государственной информационной системы в сфере здравоохранения&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/trebovaniya-mis-mo.pdf" title="Загрузить документ" download><span>Методические рекомендации по обеспечению функциональных возможностей медицинских информационных систем медицинских организаций (МИС МО)&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/metodicheskie-rekomendatsii-rmis.pdf" title="Загрузить документ" download><span>Методические рекомендации по обеспечению функциональных возможностей региональных медицинских информационных систем (РМИС)&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/proekt-tipovyih-trebovanij-k-smp.pdf" title="Загрузить документ" download><span>Типовые требования к информационным системам диспетчеризации скорой, в том числе скорой специализированной медицинской помощи&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/o-deyatelnosti-i-strukture-miats.pdf" title="Загрузить документ" download><span>Методические рекомендации по деятельности и структуре медицинского информационно-аналитического центра&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/vnedrenie-proektnogo-upravlenie.pdf" title="Загрузить документ" download><span>Методические рекомендации по внедрению проектного управления мероприятиями по информатизации здравоохранения&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/o-roli-i-funktsiyah-uchastnikov-proektov.pdf" title="Загрузить документ" download><span>Методические рекомендации о роли и функциях участников проектов развития региональных информационных систем ЕГИСЗ в субъекте Российской Федерации&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/rukomendatsii-po-razrabotke-tipovogo-plana-meropriyatij-po-stimulirovaniyu.pdf" title="Загрузить документ" download><span>Рекомендации по разработке типового плана мероприятий по стимулированию использования медицинским персоналом информационных технологий в медицинских организациях субъекта Российской Федерации&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                        <li>
                            <a href="/media/uploads/documents/informatization/osnovnie-razdely-11-11-2013.pdf" title="Загрузить документ" download><span>Основные разделы электронной медицинской карты&nbsp;<i class="fi-download"></i></span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Документы</a>
                <div class="accordion-content" data-tab-content>
                    <div class="row" id="documents">
                        {% show_folder_list '354' %}
                    </div>
                </div>
            </li>
            <li class="accordion-item is-active" data-accordion-item>
                <a href="#" class="accordion-title">Показатели информатизации</a>
                <div class="accordion-content" data-tab-content>
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns informatization-part" id="informatization-indicators-chart">
                            <div id="overflow-chart">
                                <div id="informatization-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>