{% load thumbnail %}

<section class="row" id="interview" data-magellan-target="interview">
    <h2 class="chapter interview-header">Интервью с врачом</h2>
    	<div id="interview-row" class="row">
    		<div class="orbit" id="interview-line" data-orbit  data-timer-delay="10000">
    			<div class="orbit-controls">
	            	<button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
	            	<button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
	        	</div>
	           	{% for block in interview %}
                <div class="orbit-slide">                      
                {% for article in block %}
                  {% if article %}
                    <div class="large-6 medium-6 small-12 columns interview-cell">
                      <div class="interview-preview">
                        <div class="interview-picture">
                          {% if article.get_main_image %}
                          {% thumbnail article.get_main_image.img 240x320 box=article.get_main_image.interview_cropping crop upscale detail as im %}
                          <img src="{{ im.url }}" alt="{{ article.get_main_image.alt }}" title="{{ article.get_main_image.title }}" width="{{ im.width }}" height="{{ im.height }}"/>
                          {% else %}
                          <img src="https://images.unsplash.com/photo-1504816162793-0d49d4a50608?w=634&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="{{ article.title }}" title="{{ article.title }}" width="240" height="320"/>
                          {% endif %}
                        </div>
                        <div class="interview-discription">
                          <div class="int-tezis">{{ article.short_text }}</div>
                          <div class="int-theme">{{ article.title }}</div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}                      
                </div>
              {% endfor %}
        	</div>
        	<div class="" id="interview-btn"><a href="#" class="secondary button">Выбрать интервью</a></div>
    	</div>  
</section>


<!-- 
{% for block in interview %}
                <div class="orbit-slide">                      
                {% for article in block %}
                  {% if article %}
                    <div class="large-6 medium-6 small-12 columns interview-cell">
                      <div class="interview-preview">
                        <div class="interview-picture">
                          {% if article.get_main_image %}
                          {% thumbnail article.get_main_image.img 450x230 box=article.get_main_image.interview_cropping crop upscale detail as im %}
                          <img src="{{ im.url }}" alt="{{ article.get_main_image.alt }}" title="{{ article.get_main_image.title }}" width="{{ im.width }}" height="{{ im.height }}"/>
                          {% else %}
                          <img src="/media/uploads/pictures/default-news.jpg" alt="{{ article.title }}" title="{{ article.title }}" width="450" height="230"/>
                          {% endif %}
                        </div>
                        <div class="interview-discription">
                          <div class="int-tezis">{{ article.short_text }}</div>
                          <div class="int-theme">{{ article.title }}</div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}                      
                </div>
              {% endfor %} -->