<div class="orbit row" role="region" data-orbit>
	<div class="orbit-wrapper">
	    <div class="orbit-controls">
		    <button class="orbit-previous"><span class="show-for-sr">Предыдущее</span>&#9664;&#xFE0E;</button>
		    <button class="orbit-next"><span class="show-for-sr">Следующее</span>&#9654;&#xFE0E;</button>
		</div>
		<ul class="orbit-container">
	   		<li class="orbit-slide is-active">
	   			<div>
	   				<h2 class="text-center">Postcard</h2>
	   			</div>
	   		</li>
		</ul>
		<nav class="orbit-bullets">
			<button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
			<button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
			<button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
			<button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
			<button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
		</nav>
	</div>
</div>