<div class="row hide-for-small-only" data-sticky-container style="max-width:100%;">
    <div class="top-bar" data-sticky data-margin-top="0" data-sticky-on="medium" data-top-anchor="navigation-menu" id="navigation-menu">        
        <div class="row" id="navi-center">
            <div class="large-9 medium-12 small-12 columns ">
                <ul class="menu" data-magellan data-animation-easing="linear" data-animation-duration="300">
                    <li><a href="#news">#Новости</a></li>
                    <li><a href="#populations">#Населению</a></li>
                    <li><a href="#main_informatization">#Информатизация</a></li>
                    <li><a href="#interview">#Интервью</a></li>
                    <li><a href="#video">#Видео</a></li>
                    <li><a href="#docs">#Полезные ресурсы</a></li>
                </ul>
            </div>
            <div class="large-3 medium-3 small-3 columns text-right posibility-mode-on-container">
                <button class="posibility-mode-on">
                    <span class="posibility-mode_img"></span>
                    <span class="posibility-mode_text">Версия для слабовидящих</span>
                </button>
            </div>
        </div>
        {% include 'global_templates/special-mode-controls.html' %}
    </div>
</div>