{% load static %}
<section class="row" id="docs" data-magellan-target="docs">

	<h2 class="chapter docs-header">Полезные ресурсы</h2>

	<!-- Первая линия (Повышенный приоритет) -->
	<div class="row first-line" data-equalizer="first-line">
		<div class="large-3 medium-6 small-12 columns card most-important-1" data-equalizer-watch="first-line">
			<div class="card-section">
				<a href="http://www.brkmed.ru/article/programma-razvitie-zdravoohraneniya-bryanskoj-oblasti-2013-2020-gody/">
					<div class="large-2 medium-2 small-2 columns useres-logo pr-razv"></div>
					<div class="large-10 medium-10 small-10 columns useres-name"><span>Программа &laquo;Развитие здравоохранения Брянской области&raquo;</span></div>
				</a>
			</div>
			<div class="card-section">
				<a href="http://www.brkmed.ru/article/o-hode-realizacii-prioritetnogo-nacionalnogo-proekta-zdorove-na-territorii-bryanskoj-oblasti/">
					<div class="large-2 medium-2 small-2 columns useres-logo npr"></div>
					<div class="large-10 medium-10 small-10 columns useres-name"><span>Приоритетный национальный проект &laquo;Здоровье&raquo; на территории Брянской области</span></div>
				</a>
			</div>
			<div class="card-section">
				<a href="http://www.brkmed.ru/article/29_proekt-partii-edinaya-rossiya-kachestvo-zhizni-zdorove/">
					<div class="large-2 medium-2 small-2 columns useres-logo edin-ross"></div>
					<div class="large-10 medium-10 small-10 columns useres-name"><span>Проект Партии &laquo;Единая Россия&raquo; — &laquo;Качество Жизни (Здоровье)&raquo;</span></div>
				</a>
			</div>
		</div>

		<div class="large-3 medium-6 small-12 columns card most-important-2" data-equalizer-watch="first-line">
			<div class="card-section ukazi">
				<a href="http://www.brkmed.ru/article/ukazy-prezidenta-rossijskoj-federacii/">
					<div class="large-2 medium-2 small-2 columns useres-logo"></div>
					<div class="large-10 medium-10 small-10 columns useres-name"><span>Указы Президента Российской Федерации</span></div>
				</a>
			</div>
			<div class="card-section klinic-rek">
				<a href="http://cr.rosminzdrav.ru/" target="_blank">
					<div class="large-2 medium-2 small-2 columns useres-logo"></div>
					<div class="large-10 medium-10 small-10 columns useres-name">
						<span>Клинические рекомендации</span>
					</div>
				</a>
			</div>
			<div class="card-section metod-rek">
				<a href="http://www.brkmed.ru/edocs/folders/304/">
					<div class="large-2 medium-2 small-2 columns useres-logo"></div>
					<div class="large-10 medium-10 small-10 columns useres-name">
                        <span>Методические рекомендации для врачей-клиницистов</span>
					</div>
				</a>
			</div>						
		</div>

		<div class="large-3 medium-6 small-12 columns card most-important-3" data-equalizer-watch="first-line">
			<div class="card-section">
				<a href="http://www.brkmed.ru/media/uploads/documents/others/plan-deyatelnosti-dz-na-2014-2018-godyi.doc"><span>План деятельности департамента здравоохранения Брянской области на 2013-2018 годы</span></a>
			</div>
			<div class="card-section">
				<a href="http://www.brkmed.ru/article/territorialnaya-programma-gosudarstvennyh-garantij-na-2016-god/"><span>Территориальная программа обязательного медицинского страхования</span></a>
			</div>
			<div class="card-section">
				<a href="http://www.brkmed.ru/article/pervichnaya-mediko-sanitarnaya-pomosh/"><span>Первичная медико-санитарная помощь</span></a>
			</div>			
		</div>

		<div class="large-3 medium-6 small-12 columns card most-important-4" data-equalizer-watch="first-line">
			<div class="card-section ocenka">
				<a href="http://www.brkmed.ru:8081/media/uploads/documents/others/prikaz-minzdrava-rossii-ot-07072015-n-422an-ob-utverzhdeni.doc"><span>Приказ Министерства здравоохранения Российской Федерации от 7 июля 2015 г. № 422ан &laquo;Об утверждении критериев оценки качества медицинской помощи&raquo;</span></a>
			</div>
			<div class="card-section">
				<a href="http://www.brkmed.ru:8081/media/uploads/documents/others/prikaz290not2iyunya2015g.pdf"><span>Приказ Министерства здравоохранения РФ от 2 июня 2015 г. №290н &laquo;Об утверждении типовых отраслевых норм времени на выполнение работ, связанных с посещением одним пациентом врачей&raquo;</span></a>
			</div>			
		</div>
	</div>
	<!--  -->

	<!-- Вторая линия (Вторичный приоритет) -->
	<div class="row second-line" data-equalizer="second-line">
		<div class="large-3 medium-6 small-12 columns card second-important other-depatments" data-equalizer-watch="second-line">
			<div class="card-section">
				<a href="http://rosminzdrav.ru/" target="_blank"><img src="{% static 'img/useres/gerb-minzdrav.svg' %}"><!--Министерство здравоохранения РФ--></a>
			</div>
			<div class="card-section">
				<a href="http://www.bryanskobl.ru/" target="_blank"><span>Правительство Брянской области</span></a>
			</div>
			<div class="card-section">
				<a href="http://xn--90asehmeeq.xn--p1ai/" target="_blank"><span>ТФОМС Брянской области</span></a>
			</div>
		</div>

		<div class="large-3 medium-6 small-12 columns card second-important nadzor" data-equalizer-watch="second-line">
			<div class="card-section">
				<a href="http://www.32.rospotrebnadzor.ru/" target="_blank"><span>Управление Роспотребнадзора по Брянской области</span></a>
			</div>
			<div class="card-section">
				<a href="http://32reg.roszdravnadzor.ru/" target="_blank"><span>Территориальный орган Росздравнадзора по Брянской области</span></a>
			</div>
		</div>

		<div class="large-3 medium-6 small-12 columns card second-important e-services" data-equalizer-watch="second-line">
			<div class="card-section">
				<a href="http://pgu.bryanskobl.ru/" target="_blank"><span>Портал государственных услуг Брянской области</span></a>
			</div>
			<div class="card-section">
				<a href="http://www.gosuslugi.ru/" target="_blank"><span>Электронное правительство. Госуслуги</span></a>
			</div>
		</div>

		<div class="large-3 medium-6 small-12 columns card second-important other-org" data-equalizer-watch="second-line">
			<div class="card-section">
				<a href="http://bryanskmedgazeta.ru/" target="_blank"><span>Брянская медицинская газета</span></a>
			</div>
			<div class="card-section">
				<a href="http://uszn032.ru/index.php?option=com_content&amp;view=section&amp;layout=blog&amp;id=22&amp;Itemid=163" target="_blank"><span>Бесплатная юридическая помощь</span></a>
			</div>
			<div class="card-section">
				<a href="http://bfarm.ru/" target="_blank"><span>ГУП &laquo;Брянскфармация&raquo;</span></a>
			</div>
			<div class="card-section">
				<a href="http://medical-science.ru/" target="_blank"><span>Портал &laquo;Медицинская наука&raquo;</span></a>
			</div>
		</div>
	</div>
	<!--  -->

	<!-- Третья линия (Сторонние ссылки и материалы) -->
	<div class="row third-line" data-equalizer="third-line">
		<div class="large-6 medium-12 small-12 columns out-link-first-line" data-equalizer-watch="third-line">
			<div class="out-link">
				<a href="http://www.takzdorovo.ru/" target="_blank">
					<img src="{% static 'img/useres/zdorovaya-rossiya.jpg' %}" alt="Здоровая Россия">
				</a>
			</div>
			<div class="out-link">
                <a href="https://www.gosuslugi.ru/" class="b-bnr banner15 b-bnr_n250x250 animated">
                    <div class="b-bnr__after"></div>
                    <div class="b-bnr__item b-bnr__item_n250x250"></div>
                    <div class="b-bnr__text b-bnr__text_n250x250">
                        <div class="b-bnr__logo b-bnr__logo_n250x250 left"><span style="margin-left: 0;">
                            <img src="{% static 'gosuslugi/img/lg.png' %}" alt="Проще чем кажется" style="width: 183px;height: 20px;display: block;margin-left: 0;">
                        </span>
                        </div>
                        <div class="b-bnr__text b-bnr__text_n250x250_1 strong"><img src="{% static 'gosuslugi/img/txt1.png' %}" alt="К врачу без очереди"></div>
                        <div class="b-bnr__text b-bnr__text_n250x250_2"><img src="{% static 'gosuslugi/img/txt2.png' %}" alt="Запишитесь к врачу на gosuslugi.ru и приходите без очереди">
                        </div>
                    </div>
                </a>
			</div>
			<div class="out-link">
				<a href="http://xn--80aalcbc2bocdadlpp9nfk.xn--d1acj3b/multimedia/videorolik_o_zawite_detskih_personalnyh_dannyh1/" target="_blank">
					<img src="{% static 'img/useres/ppd.jpg' %}" alt="Персональные данные.дети">
				</a>
			</div>
			<div class="out-link">
				<a href="http://www.brkmed.ru/article/korporativnyj-tarifnyj-plan-zdravoohranenie/">
					<img src="{% static 'img/useres/megafon.jpg' %}" alt="Корпоративный тарифный план для сотрудников здравоохранения">
				</a>
			</div>
		</div>

		<div class="large-6 medium-12 small-12 columns out-link-second-line" data-equalizer-watch="third-line">
			<div class="out-link">
				<a href="http://o-spide.ru/" target="_blank">
					<img src="{% static 'img/useres/spid.jpg' %}" alt="Против СПИДа">
				</a>
			</div>
			<div class="out-link">
				<a href="http://pravo.gov.ru/">
					<img src="{% static 'img/useres/pravo.png' %}" alt="Официальный интернет-портал правовой информации">
				</a>
			</div>
		</div>
	</div>
</section>