<div class="row" id="vks-conference">
    <div class="large-12 medium-12 small-12 columns">
        <div class="large-1 medium-2 small-3 columns vks-conference-ico">
            <img src="/static/img/vks-icon.svg"/>
            <!-- <div class="rec-vks"></div> -->
            <svg class="rec-vks" width="12" height="12">
                 <circle r="6" cx="6" cy="6" />
            </svg>
        </div>
        <div class="large-11 medium-10 small-7 columns vks-conference-body">
            <div class="large-12 medium-12 small-12 columns">
                <h4 class="vks-conference-header"><a href="#"><span>Совещание в режиме Видео Конференц Связи (ВКС)</span></a></h4>
            </div>
            <div class="large-12 medium-12 small-12 columns">
                <time datetime=""><i class="fi-calendar large"></i>&nbsp;27&nbsp;Окт&nbsp;в&nbsp;10:00</time>
            </div>
        </div>
    </div>
</div>