<footer class="row" id="footer-brkmed">
		<div class="row footer-container">
			<ul class="large-9 medium-9 small-12 columns no-bullet about-org">
				<li><strong>Департамент здравоохранения Брянской области</strong></li>
				<li><strong>Адрес:</strong> 241019, г. Брянск, пер. Осоавиахима, д. 3, корп. 1.</li>
				<li><strong>Тел.:</strong> +7 (4832) 74-21-47 (приемная)</li>
				<li><strong>Факс:</strong> +7 (4832) 66-49-11</li>
				<li><strong>E-mail:</strong> <a href="mailto:dz@brkmed.ru" style="color:#BBDEFB;">dz@brkmed.ru</a></li>
				<li><strong>Режим работы:</strong> ПН-ЧТ 08:30-17:45, ПТ 08:30-16:30, обед 13:00-14:00, СБ-ВС – выходные</li>
			</ul>
			<div class="large-3 medium-3 small-12 columns social">
				<ul class="right">
					<li><a href="https://www.youtube.com/channel/UCOeG8V5kWy9hwA3m1jmw5PQ" class="youtube"></a></li>
					<li><a href="http://www.brkmed.ru/#" class="vk"></a></li>
					<li><a href="http://www.brkmed.ru/#" class="twitter"></a></li>
				</ul>
			</div>
		</div>
		<div class="row about-organization-container">
			<div class="about-organization">	
				<div class="copyright">
					<div class="row">
						<p class="text-center"><small>Свидетельство о регистрации СМИ Эл № 77-6061 от 30 января 2002 г., выдано Министерством РФ по делам печати, телерадиовещания и средств массовых коммуникаций</small></p>
						<p class="text-center"><small>По вопросам, связанным с работой сайта обращайтесь по адресу <a href="mailto:redakt@brkmed.ru">redakt@brkmed.ru</a></small></p>
					</div>
					<div class="row text-center">
						<span class="rate">16+</span>
					</div>
				</div>
			</div>
		</div>
		<div class="large-12 medium-12 small-12 columns sub-footer text-right">
			<a href="http://www.brkmed.ru/article/zakonodatelnaya-karta/">Законодательная карта</a>
		</div>
</footer>