{% load menu_tags %}
<section id="header" class="row show-for-large">
	<header class="top-bar large-12 medium-12 small-12 columns">
		<div class="row" id="head-title">
			<a href="http://www.brkmed.ru/" title="Перейти на главную страницу">
				<div class="large-1 meduim-1 small-12 columns" id="logo">
					<img src="/static/img/logo.svg" class="logo-image" alt="Правительство Брянской области">
				</div>
				<h1 class="large-11 medium-11 small-12 columns" id="brand">
					<div id="industry">Здравоохранение Брянской области</div>
					<div id="department">департамент здравоохранения Брянской области. Официальный сайт</div>
				</h1>
			</a>
		</div>
	</header>

	<section class="row show-for-large" id="main-menu">
	    <div class="top-bar" id="main_menu">        
		    <nav class="navigation" role="navigation">          
	    	    <ul class="menu">          
	        	    {% show_menu 'top_menu' %}          
	         	</ul>        
	        </nav>      
	    </div>
	</section>
</section>