<!doctype html>
<html class="no-js" lang="ru-RU" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
        <title>Департамент здравоохранения Брянской области. Официальный сайт</title>
  
    {% block description %}
        <meta name="description" content="Новости медицины, цены на лекарства, оказание высокотехнологичной медицинской помощи, информатизация, вопросы врачам и специалистам">
    {% endblock %}
  
  {% block keywords %}
    <meta name="keywords" content="новости медицины, департамент здравоохранения Брянской области, документы, форум, вакансии, диспансеризация, высокотехнологичная медицинская помощь">
  {% endblock %}
  
  <meta name="author" content="ГАУЗ Медицинский информационно-аналитический центр">
  <meta name="theme-color" content="#336699">
  {% load static %}
    
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'foundation-icons/foundation-icons/foundation-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/vks_conference.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/poster.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/populations.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Highcharts-5.0.14/css/highcharts.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/video.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/useresources.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/interview.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/special-button.css' %}">
  <link rel="alternate" type="application/rss+xml" title="Последние новости здравоохранения Брянской области" href="http://www.brkmed.ru/latest/feed/"> 
    {% if not homepage %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/breadcrumbs.css' %}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/sticky_navigation.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main-informatization.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/gosuslugi/css/common.css' %}">
    {% endif %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/special-mode.css' %}">
    {% block extra_css %}
    
    {% endblock %}
</head>

<body>

  {% block header %}
    <section id="header" class="row show-for-large">
      {% include 'global_templates/header.html' with homepage=homepage %}
    </section>

      {# include 'global_templates/headerfordevices.html' with homepage=homepage #}
    {% endblock %}
    
    {% block navigation %}
        {% if homepage %}
            {% include 'base_templates/sticky_navigation.html' %}
        {% else %}
          {% include 'global_templates/breadcrumbs.html' %}
        {% endif %}
    {% endblock navigation %}
  <section id="site" class="row">
  {% block content %} 
    <div class="row" id="content"> 
{#  MAIN_CONTENT  #}
      <div class="large-9 medium-8 small-12 columns" id="news" data-magellan-target="news">
        {% block ads %}
            {% include 'base_templates/poster.html' with ads=ads general_ad=general_ad %}
        {% endblock ads %}
        
        {% include 'base_templates/vks_conference.html' %}
        
{#  POSTCARDS  #}
        {% block postcards %}
          
        {% endblock postcards %}
{#  /POSTCARDS  #}
{#  NEWS  #}
        <h2 class="chapter news-header">Новости</h2>
        <div class="row endless_page_template" id="main-content">
          {% include 'base_templates/news_list.html' with news=news %}
        </div>
      </div>
{#  /NEWS  #}
{#  ASIDE  #}
      {% block sidebar %}
        {% load menu_tags %}
        <aside class="large-3 medium-4 small-12 columns" id="sidebar">
          <nav id="banner-menu">
            <ul class="menu vertical">
              {% show_menu 'banner_menu' %}
            </ul>
          </nav>

          <nav id="secondary-menu">
            <ul class="menu vertical">
              {% show_special_menu 'secondary_menu' 'base_templates/menu.html' %}
            </ul>
          </nav>

          <nav class="panel-links">
           {% include 'base_templates/panellinks.html' %}
          </nav>

          <div class="nsok">
            <a href="http://nsok.brkmed.ru/visible/">
              <img src="{% static 'img/sidebar/nsok.svg' %}">
            </a>
          </div>
        </aside>
      {% endblock %}
    </div>
  {% endblock content %}
  </section>

{% if homepage %}
{#  FOR_PEOPLE  #}
    {% block population %}
      {% include 'base_templates/populations.html' %}
    {% endblock %}  
{#  /FOR_PEOPLE  #}

{# INFORMATIZATION #}
    {% block informatization %}
      {% include 'base_templates/base_informatization.html' with informatization=informatization %}
    {% endblock %}
{# /INFORMATIZATION #}

{# INTERVIEW #}
    {% block interview %}
      {% include 'base_templates/interview.html' %}
    {% endblock %}
{# /INTERVIEW #}

    
    {% block video %}
      {% include 'base_templates/video.html' %}
    {% endblock video %}
    
    {% block useresources %}
      {% include 'base_templates/useresources.html' %}
    {% endblock useresources %}

{# if homepage #}{% endif %}

  {% block footer %}
    {% include 'global_templates/footer.html' %}
  {% endblock footer %}

<div id="top"><div id="scroller" class="b-top" style="display: none;"><span class="b-top-but">↑ <span>наверх</span></span></div></div>

  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'js/poster.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/newsbuttons.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    
  

<!-- {#  <script type="text/javascript" src="{% static 'js/cd252cfd38d9.js' %}"></script>  #} -->


  <!-- {#  <script src="{% static 'js/audio.js' %}" type="text/javascript"></script>  #} -->
  <script src="{% static 'js/voicer.js' %}" type="text/javascript"></script>
  
  {% if homepage %}
    <script type="text/javascript" src="{% static 'js/video.js' %}"></script>
    <script type="text/javascript" src="{% static 'Highcharts-5.0.14/js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'Highcharts-5.0.14/js/modules/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery_pagination/js/jquery.paginate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/countUp.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/informatization-chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/informatization.js' %}"></script>
    <script type="text/javascript" src="{% static 'gosuslugi/js/common.min.js' %}"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
  {% endif %}
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/special-mode.js' %}"></script>
  
{% block extra_js %}  
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>$.endlessPaginate();</script>
{% endblock %}




<div id="scroller" class="b-top" style="display: none;"><span class="b-top-but">&#8593; <span>наверх</span></span></div>
<!--
{#  Yandex.Metrika counter  #}
{#  <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter35635025 = new Ya.Metrika({
                    id:35635025,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>  #}
{#  <noscript>&lt;div&gt;&lt;img src="https://mc.yandex.ru/watch/35635025" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>  #}
{#  /Yandex.Metrika counter  #}

{# sputnik counter #}
{#  <script type="text/javascript">
   (function(d, t, p) {
       var j = d.createElement(t); j.async = true; j.type = "text/javascript";
       j.src = ("https:" == p ? "https:" : "http:") + "//stat.sputnik.ru/cnt.js";
       var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
   })(document, "script", document.location.protocol);
</script>  #}



{#  <div id="shadowMeasureIt"></div><div id="divCoordMeasureIt"></div><div id="divRectangleMeasureIt"><div id="divRectangleBGMeasureIt"></div></div>  #}
-->
</body>
</html>